%link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro", :rel => "stylesheet", :type => "text/css"}
.body
  .three.columns
    .sidebar
      .logo_space
        = link_to image_tag("tweetboxlogo.png", :width => "200"), root_path
      .sidebar_header
        = link_to "THE TWEETBOX", root_path
        %br
        - if current_user
          = "Welcome #{current_user.twitter_name}!"
        -else
          = link_to image_tag("twitter_signin.png"), "/auth/twitter"
  .row
    .nine.columns
      .twitter_handle
        ="@" + @user.twitter_name.upcase + "'s"
      .main_header
        = "tweetbox"
  .row
    .two.columns
      .photo
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
        = image_tag @user.image_url
      - user_tweets = []
      - user_urls = []
      - @hashtags.each do |hashtag, num|
        %br
        .kbutton
          = link_to "\##{hashtag.upcase} (#{num})", "/#{@user.twitter_name}/#{hashtag}"
    .seven.columns
      #container.showpage
        - @tweets.each do |tweet|
          .box
            .tweets.clearfix
              = link_to CGI.unescape(tweet.text), tweet.links.first.url
%nav#page-nav
  %a{href: "/#{@user.twitter_name}?page=2"}

